---
import { getCollection, render } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';

const { slug } = Astro.params;
const posts = await getCollection('blog');

const post = posts.find(p => {
	const postSlug = p.id.replace(/^\d{4}-\d{2}-\d{2}-/, '');
	return postSlug === slug;
});

if (!post) {
	throw new Error(`Post not found: ${slug}`);
}

const { Content } = await render(post);
---

<PageLayout title={post.data.title} description={post.data.description}>
	<h1>{post.data.title}</h1>
	<hr/>
	<Content />
</PageLayout>