---
import { getCollection } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';

const posts = (await getCollection('blog')).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const fixedPosts = posts.map((post) => {
	return {
		...post,
		id: "/posts/" + post.id.replace(/^\d{4}-\d{2}-\d{2}-/, ""),
	};
});
---

<PageLayout title="Posts - Sam's Blog">
	<h1>📚 Posts</h1>
	<p>Here are some of my recent posts:</p>
	<ul>
		{fixedPosts.map((post) => (
			<li class="link-item">
				<a href={post.id} rel="noopener noreferrer">
					{post.data.title}
				</a>
				{post.data.description && <p class="description">{post.data.description}</p>}
				<p class="description">{post.data.date}</p>
			</li>
		))}
	</ul>
</PageLayout>