---
import PageLayout from '../layouts/PageLayout.astro';
import { links } from '../../content/links';
---
<PageLayout title="Links - Sam's Blog">
	<h1>🔗 Links</h1>
	<p>Here are links to my online accounts and profiles:</p>
	<ul>
		{Object.values(links).map((link) => (
		<li class="link-item">
			<a
				href={link.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				{link.name}
			</a>
			{link.description && <p class="description">{link.description}</p>}
		</li>
		))}
	</ul>
</PageLayout>